* {
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-areas: /* how you can set up the layout easily*/
    "nav nav nav"
    "purple pink orange";
    grid-template-columns: 1fr 1fr 1fr; /* shows how much room they will take place, there are 3 columns and they are all even*/
    grid-template-rows: 1fr 3fr; /* there are 2 rows, but the second row takes more space than the first row */
    height: 96vh;
    color: blanchedalmond;
    gap: 20px; /* creates space between elements, but not away from the border */
    border: 1px solid black;
    margin: 10px;
}

.nav {
    grid-area: nav;
    height: 100%;
    background-color: blanchedalmond;
}

.panel {
    height: 100% /* will be 100% of the area */
}

.purple {
    background-color: purple;
    grid-area: purple;
}

.pink {
    background-color: palevioletred;
    grid-area: pink;
}

.orange {
    background-color: orangered;
    grid-area: orange;
}

