* {
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-areas: /* how you can set up the layout easily*/
    "brown blue"
    "brown blue"
    "brown blue"
    "bottom bottom";
    grid-template-columns: 1fr 3fr; /* shows how much room they will take place, there are 2 columns and one takes 3x more than the other */
    grid-template-rows: 1fr 1fr 1fr 1fr; /* there are 2 rows, but the second row takes more space than the first row */
    height: 96vh;
    /* gap: 15px; creates space between elements, but not away from the border */
    border: 1px solid black;
    margin: 10px;
}

.nav {
    grid-area: nav;
    height: 100%;
    background-color: blanchedalmond;
}

.panel {
    height: 100% /* will be 100% of the area */
}

.brown {
    background-color: goldenrod;
    grid-area: brown;
}

.blue {
    background-color: aqua;
    grid-area: blue;
}

.bottom {
    background-color: blanchedalmond;
    grid-area: bottom;
}